$small: "only screen and (min-width : 540px)";
$medium: "only screen and (min-width : 720px)";
$big: "only screen and (min-width : 1200px)";

@font-face {
  font-family: "Editor";
  src: url("fonts/Editor.otf") format("opentype");
}
@font-face {
  font-family: "EditorBold";
  src: url("fonts/Editorbold.otf") format("opentype");
}

$tech-font: "Editor", sans-serif;
$personal-font: "Editor", sans-serif;
$f3: "Abel", sans-serif;

$mainc1: rgb(59, 59, 59);

$bgc1: rgba(255, 255, 255, 0.91);
$bgc2: rgba(0, 0, 0, 0.616);
$bgc3: rgba(0, 0, 0, 0.616);

$fc1: rgb(41, 40, 40);
$fc1b: rgba(65, 65, 65, 0.671);

$fc2: rgb(255, 255, 255);
$fc2b: rgba(240, 239, 239, 0.603);

$fc3: rgb(255, 0, 25);

$boxShadow: 6px 10px 30px rgba(134, 133, 133, 0.459);
$boxShadowbig: 6px 10px 70px rgba(129, 129, 129, 0.941);

body {
  font-family: $tech-font;
  color: $fc1;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
}
html {
  font-size: 16px;
}
