.align-wrap {
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

.align-wrap .alignfull {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}
.align-wrap .alignwide {
  width: 95%;
  max-width: 100%;
  margin: 0 auto;
}
