.wp-block-separator {
  border-top: solid 6px $fc1;
  margin: 60px auto;
  width: 50%;

  &.is-style-wide {
    width: 100%;
  }
  &.is-style-dots {
    font-weight: bolder;
    transform: scale(2);
  }
}
